body {
  color: #000000;
}

.popover-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.popover {
  display: none;
  position: absolute;
  border-radius: 7px;
  border: 1px solid #000000;
  z-index: 0;
}
.popover-body {
  padding: 4px;
  border: 1px solid #000000;
  background-color: white;
}

.popover-header {
  background-color: rgb(218, 218, 218);
  border: 1px solid #000000;
  padding: 4px;
}

.button {
  margin-top: 100px;
  width: 180px;
  height: 30px;
  background-color: rgb(230, 62, 62);
  color: white;
  border-radius: 7px;
}

.button-big {
  width: 380px;
}